#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

# See multi-user.target(7) for details.

[Unit]
Description=Multi-User System
Documentation=man:systemd.special(7)
Requires=basic.target
Wants=syslog.target
Wants=network-online.target
After=basic.target
After=syslog.target
After=network-online.target

[Install]
Alias=default.target
